.container {
    position: relative;
    height: 59px;
    background-color: var(--white);
    border-radius: 30px;
    overflow: hidden;
    transition: 50ms linear width;

    & * {
        user-select: none;
    }
}

.back {
    position: absolute;
    inset: 0;
    transition: 50ms linear background-color;
}

.text {
    color: var(--white)!important;
}

.percent_back {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 100ms all ease-in-out;
}

.content {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    padding: 0 25px;
    gap: 20px;
    justify-content: center;

    & img {
        position: absolute;
        top: calc(50% - 9px);
        width: 5px;
        height: 18px;
        cursor: pointer;

        &:first-child {
            left: 10px;
        }

        &:last-child {
            right: 10px;
        }
    }
}