@font-face {
    font-family: 'Open Sans';
    src: url('./shared/ui/assets/fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
}

:global :root {
    --black: #26354C;
    --green: #0D977D;
    --blue: #4797D4;
    --gray: #909090;
    --light-gray: #DADADA;
    --white: #FBFCFC;
    --red: #E75A62;

    --open-sans: 'Open Sans';
}

:global * {
    box-sizing: border-box;
    font-family: var(--open-sans), sans-serif;
}

:global #modal-portal {
    position: fixed;
    width: 0;
    height: 0;
    display: grid;
    place-items: center;

    &:has(> *) {
        width: 100vw;
        height: 100vh;
    }
}