:global :root {
    --black: #26354C;
    --green: #0D977D;
    --blue: #4797D4;
    --gray: #909090;
    --light-gray: #DADADA;
    --white: #FBFCFC;
    --red: #E75A62;
}

:global * {
    box-sizing: border-box;
}