.textarea {
    min-width: 260px;
    font-size: 18px;
    color: var(--black);
    border-radius: 10px;
    resize: vertical;
    border: 1px solid var(--gray);
    padding: 12px 16px;
    outline: none;
}

.container {
    position: relative;

    &:focus-within {
        &::before {
            content: '';
            position: absolute;
            inset: -4px;
            border: 1px solid var(--blue);
            border-radius: 12px;
        }
    }
}